<h1>Listing canvas</h1>

<table>
  <tr>
    <th>User</th>
    <th>Public</th>
    <th>Title</th>
    <th>Description</th>
    <th>Customer segments</th>
    <th>Value propositions</th>
    <th>Channels</th>
    <th>Customer relationships</th>
    <th>Revenue streams</th>
    <th>Key resources</th>
    <th>Key activities</th>
    <th>Key partnerships</th>
    <th>Cost structure</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @canvas.each do |canva| %>
  <tr>
    <td><%= canva.user_id %></td>
    <td><%= canva.public %></td>
    <td><%= canva.title %></td>
    <td><%= canva.description %></td>
    <td><%= canva.customer_segments %></td>
    <td><%= canva.value_propositions %></td>
    <td><%= canva.channels %></td>
    <td><%= canva.customer_relationships %></td>
    <td><%= canva.revenue_streams %></td>
    <td><%= canva.key_resources %></td>
    <td><%= canva.key_activities %></td>
    <td><%= canva.key_partnerships %></td>
    <td><%= canva.cost_structure %></td>
    <td><%= link_to 'Show', canva %></td>
    <td><%= link_to 'Edit', edit_canva_path(canva) %></td>
    <td><%= link_to 'Destroy', canva, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Canva', new_canva_path %>
