<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @canva.user_id %>
</p>

<p>
  <b>Public:</b>
  <%= @canva.public %>
</p>

<p>
  <b>Title:</b>
  <%= @canva.title %>
</p>

<p>
  <b>Description:</b>
  <%= @canva.description %>
</p>

<p>
  <b>Customer segments:</b>
  <%= @canva.customer_segments %>
</p>

<p>
  <b>Value propositions:</b>
  <%= @canva.value_propositions %>
</p>

<p>
  <b>Channels:</b>
  <%= @canva.channels %>
</p>

<p>
  <b>Customer relationships:</b>
  <%= @canva.customer_relationships %>
</p>

<p>
  <b>Revenue streams:</b>
  <%= @canva.revenue_streams %>
</p>

<p>
  <b>Key resources:</b>
  <%= @canva.key_resources %>
</p>

<p>
  <b>Key activities:</b>
  <%= @canva.key_activities %>
</p>

<p>
  <b>Key partnerships:</b>
  <%= @canva.key_partnerships %>
</p>

<p>
  <b>Cost structure:</b>
  <%= @canva.cost_structure %>
</p>


<%= link_to 'Edit', edit_canva_path(@canva) %> |
<%= link_to 'Back', canvas_path %>
