<div id="index-container">

    <br/>

    <ul class="nav nav-pills">
      <li class="<%= params[:filter]==nil ? 'active' : ''%>">
        <a href="<%= canvases_path %>">All</a>
      </li>
      <li class="<%= params[:filter]=='public' ? 'active' : ''%>">
        <a href="<%= canvases_path(:filter=>'public')%>">Public</a>
      </li>
      <li class="<%= params[:filter]=='private' ? 'active' : ''%>">
        <a href="<%= canvases_path(:filter=>'private')%>">Private</a>
      </li>
    </ul>

    <br />

    <%= link_to new_canvas_path(new_canvas_params) do %>
      <div class="well span6">
        <%= image_tag 'add.png', :size=>'32x32' %>
        <b>Create New</b>
      </div>
    <% end %>

    <% @models.each do |canvas| %>
        <%= link_to canvas_url(canvas) do %>
            <div class="model well span6">
                <h3><%= raw canvas.title || "Untitled" %></h3>
                <h4><%= raw canvas.description %></h4>
            </div>
        <% end %>
    <% end %>

</div>