<div id="index-container">

    <br/>

    <ul class="nav nav-pills">
      <li class="<%= params[:filter]==nil ? 'active' : ''%>">
        <a href="<%= canvases_path %>">All</a>
      </li>
      <li class="<%= params[:filter]=='public' ? 'active' : ''%>">
        <a href="<%= canvases_path(:filter=>'public')%>">Public</a>
      </li>
      <li class="<%= params[:filter]=='private' ? 'active' : ''%>">
        <a href="<%= canvases_path(:filter=>'private')%>">Private</a>
      </li>
    </ul>

    <br />

    <%= link_to 'New Canvas', new_canvas_path %>

    <% @models.each do |canvas| %>
        <%= link_to canvas_url(canvas) do %>
            <div class="model">
                <h3><%= raw canvas.title %></h3>
                <h4><%= raw canvas.description %></h4>
            </div>
        <% end %>
    <% end %>

</div>