<div id="home-small-nav">
<%= link_to 'About', about_url %> | 
<%= link_to 'Sign In', new_user_session_url %>
</div>

<h1>My Business Models</h1>

<% @my_models.each do |canvas| %>
  <tr>
    <td><%= canvas.title %></td>
    <td><%= canvas.description %></td>

    <td><%= link_to 'Show', canvas %></td>
    <td><%= link_to 'Edit', edit_canvas_path(canvas) %></td>
    <td><%= link_to 'Destroy', canvas, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Canvas', new_canvas_path %>

<h1>Open Models</h1>

<% @open_models.each do |canvas| %>
    <%= link_to canvas_url(canvas) do %>
        <h3><%= canvas.title %></h3>
    <% end %>
<% end %>