<div id = "canvas-header">
  <h1>
    <%= best_in_place @canvas, :title, :nil => "Click to add Title", :type => :input %>
  </h1>
  <%= best_in_place @canvas, :description, :type => :input, :nil => "Add description" %>
</div>

 <div id = "canvas-container">

  <table class="canvas-table" border=1>
    <tbody>
      <tr>
        <td rowspan="2" colspan="2">
          <b>Key partnerships</b>
          <%= best_in_place @canvas, :key_partnerships, :type => :textarea, :display_as => :md_key_partnerships, 
              :nil => "<i>Click to add key partnerships</i>" %>
        </td>
        <td colspan="2">
          <b>Key activities</b>
          <%= best_in_place @canvas, :key_activities, :type => :textarea, :display_as => :md_key_activities,
              :nil => "<i>Click to add key activities</i>" %>
        </td>
        <td rowspan="2" colspan="2">
          <b>Value propositions</b>
          <%= best_in_place @canvas, :value_propositions, :type => :textarea, :display_as => :md_value_propositions,
              :nil => "<i>Click to add value propositions</i>" %>
        </td>
        <td colspan="2">
          <b>Customer relationships</b>
          <%= best_in_place @canvas, :customer_relationships, :type => :textarea, 
          :display_as => :md_customer_relationships, :nil => "<i>Click to add customer relationships</i>" %>
        </td>
        <td rowspan="2" colspan="2">
          <b>Customer segments</b>
          <%= best_in_place @canvas, :customer_segments, :type => :textarea, :display_as => :md_customer_segments,
              :nil => "<i>Click to add customer segments</i>" %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <b>Key resources</b>
          <%= best_in_place @canvas, :key_resources, :type => :textarea, :display_as => :md_key_resources,
              :nil => "<i>Click to add key resources</i>" %>
        </td>
        <td colspan="2">
          <b>Channels</b>
          <%= best_in_place @canvas, :channels, :type => :textarea, :display_as => :md_channels,
              :nil => "<i>Click to add channels</i>" %>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <b>Cost structure</b>
          <%= best_in_place @canvas, :cost_structure, :type => :textarea, :display_as => :md_cost_structure,
              :nil => "<i>Click to add key cost structure</i>" %>
        </td>
        <td colspan="5">
          <b>Revenue streams</b>
          <%= best_in_place @canvas, :revenue_streams, :type => :textarea, :display_as => :md_revenue_streams,
              :nil => "<i>Click to add revenue streams</i>" %>
        </td>
      </tr>
    </tbody>
  </table>

</div> 

<div id = "canvas-footer">
  <div id = "canvas-footer-content">
    <%= link_to '<', canvas_path(@canvas, :version=>@canvas.previous_version.version.index) if @canvas.previous_version and @canvas.previous_version.version.index > 1 %>
    Last edited by <%= @canvas.originator %> <%= time_ago_in_words @canvas.updated_at %> ago
    <%= link_to '>', canvas_path(@canvas, :version=>@canvas.next_version.version.index) if @canvas.next_version %>
    <%= link_to 'My Models', canvases_path %>
  </div>
</div>
