<div id = "canvas-header">
  <h1><%= best_in_place @canvas, :title, :nil => "Click to add Title", :type => :input %></h1>
  <%= best_in_place @canvas, :description, :type => :textarea, :nil => "Add description" %>
</div>

 <div id = "canvas-container">
<!--  <div class="top-half"> 

    <div class="canvas-column">
      <div class="box">
        <b>Key partnerships</b>
        <%= best_in_place @canvas, :key_partnerships, :type => :textarea, :display_as => :md_key_partnerships, 
            :nil => "Click to add key partnerships" %>
      </div>
    </div>

    <div class="canvas-column">
      <div class="box">
        <b>Key activities</b>
        <%= best_in_place @canvas, :key_activities, :type => :textarea, :display_as => :md_key_activities %>
      </div>

      <div class="box">
        <b>Key resources</b>
        <%= best_in_place @canvas, :key_resources, :type => :textarea, :display_as => :md_key_resources %>
      </div>

    </div>

    <div class="canvas-column">
      <div class="box">
        <b>Value propositions</b>
        <%= best_in_place @canvas, :value_propositions, :type => :textarea, :display_as => :md_value_propositions %>
      </div>
    </div>

    <div class="canvas-column">
      <div class="top-block">
        <div class="box">
        <b>Customer relationships</b>
        <%= best_in_place @canvas, :customer_relationships, :type => :textarea, :display_as => :md_customer_relationships %>
        </div>
      </div>

      <div class="bottom-block">
        <div class="box">
          <b>Channels</b>
          <%= best_in_place @canvas, :channels, :type => :textarea, :display_as => :md_channels %>
        </div>
      </div>
    </div>

    <div class="canvas-column">
      <div class="box">
        <b>Customer segments</b>
        <%= best_in_place @canvas, :customer_segments, :type => :textarea, :display_as => :md_customer_segments %>
      </div>
    </div>

    <div class="clear"></div>

  </div>

  <div class="bottom-half">
    <div class="canvas-column canvas-column-wide">
      <div class="box">
      <b>Cost structure</b>
      <%= best_in_place @canvas, :cost_structure, :type => :textarea, :display_as => :md_cost_structure %>
      </div>
    </div>

    <div class="canvas-column canvas-column-wide">
      <div class="box">
        <b>Revenue streams</b>
        <%= best_in_place @canvas, :revenue_streams, :type => :textarea, :display_as => :md_revenue_streams %>
      </div>
    </div>
  </div> -->

<table class="canvas-table" border=1>
  <tbody>
    <tr>
      <td rowspan="2" colspan="2">
        <b>Key partnerships</b>
        <%= best_in_place @canvas, :key_partnerships, :type => :textarea, :display_as => :md_key_partnerships, 
            :nil => "Click to add key partnerships" %>
      </td>
      <td colspan="2">
        <b>Key activities</b>
        <%= best_in_place @canvas, :key_activities, :type => :textarea, :display_as => :md_key_activities %>
      </td>
      <td rowspan="2" colspan="2">
        <b>Value propositions</b>
        <%= best_in_place @canvas, :value_propositions, :type => :textarea, :display_as => :md_value_propositions %>
      </td>
      <td colspan="2">
        <b>Customer relationships</b>
        <%= best_in_place @canvas, :customer_relationships, :type => :textarea, :display_as => :md_customer_relationships %>
      </td>
      <td rowspan="2" colspan="2">
        <b>Customer segments</b>
        <%= best_in_place @canvas, :customer_segments, :type => :textarea, :display_as => :md_customer_segments %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <b>Key resources</b>
        <%= best_in_place @canvas, :key_resources, :type => :textarea, :display_as => :md_key_resources %>
      </td>
      <td colspan="2">
        <b>Channels</b>
        <%= best_in_place @canvas, :channels, :type => :textarea, :display_as => :md_channels %>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <b>Cost structure</b>
        <%= best_in_place @canvas, :cost_structure, :type => :textarea, :display_as => :md_cost_structure %>
      </td>
      <td colspan="5">
        <b>Revenue streams</b>
        <%= best_in_place @canvas, :revenue_streams, :type => :textarea, :display_as => :md_revenue_streams %>
      </td>
    </tr>
  </tbody>
</table>

</div> 

<div id = "canvas-footer">
  <div id = "canvas-footer-content">
    <%= link_to '<', canvas_path(@canvas, :version=>@canvas.previous_version.version.index) if @canvas.previous_version and @canvas.previous_version.version.index > 1 %>
    Last edited by <%= @canvas.originator %> <%= time_ago_in_words @canvas.updated_at %> ago
    <%= link_to '>', canvas_path(@canvas, :version=>@canvas.next_version.version.index) if @canvas.next_version %>
    <%= link_to 'My Models', canvases_path %>
  </div>
</div>
