<header id="header">
  <div class="logo">
    <span class="lean">Lean</span>
    <span class="wall">Wall</span>
  </div>
  <div id="small-nav">
  <%= link_to 'Home', root_path %> | 
  <%= link_to 'About', about_path %> | 
  <% unless signed_in? %>
    <%= link_to 'Sign In', new_user_session_path %> |
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% else%>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
  <% end %>
</header>